.circle{
    height: 70px;
    width: 70px;
    background-color: rgba(211, 211, 211, 0.74);
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}
.card{
    border: none;
    outline: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.75);

}
.card p{
    color: gray;
}
.card:hover .circle {
    background-color: black;
    color: white;
    transition: 0.5s;
}
